#python variables

#integer variable

In [2]:
age=21
print(age)

21

#string variable

In [4]:
name="anuja"
print(name)

anuja

#float variable

In [6]:
price=19.99
print(price)

19.99

#boolean variable

In [10]:
is_active=True
print(is_active)

True

# 1.storing and printing a value

In [12]:
x=10
print(x)

10

#2.using variables in expression

In [14]:
a=5
b=3
result=a+b
print(result)

8

#3. changing the value of variable

In [16]:
score=50
print(score)

50

In [18]:
score=100
print(score)

100

#4. concatenating strings

In [20]:
first_name="Anuja"
last_name="Pawar"
full_name=first_name+"   "+last_name
print(full_name)

Anuja   Pawar

#5. using variables in calculation

In [22]:
length=10
width=20
area=length*width
print(area)

200

#6. reassigning values to variables

In [24]:
x=10
print(x)
x=20
print(x)

10
20